:root {
  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --font-primary: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --font-secondary: "Lao Mn";
  --clr-light-grey: #f8f8f7;
  --clr-medium-grey: #dfdfdf;
  --clr-dark-grey: #333;
  --clr-black: #000;
  --clr-white: #fff;
  --clr-accent: #d8e0bb;
  --text-clr-dark: #213547;
  --text-clr-light: #2c3237;
}

/* Fluid font size variables, for browsers that support clamp */
@supports (font-size: clamp(1rem, 1vw, 1rem)) {
  :root {
    --font-size-sm: clamp(0.7rem, 0.09vw + 0.68rem, 0.75rem);
    --font-size-base: clamp(0.88rem, 0.23vw + 0.82rem, 1rem);
    --font-size-md: clamp(1.09rem, 0.43vw + 0.99rem, 1.33rem);
    --font-size-lg: clamp(1.37rem, 0.74vw + 1.18rem, 1.78rem);
    --font-size-xl: clamp(1.71rem, 1.2vw + 1.41rem, 2.37rem);
    --font-size-xxl: clamp(2.14rem, 1.85vw + 1.67rem, 3.16rem);
    --font-size-xxxl: clamp(2.67rem, 2.79vw + 1.97rem, 4.21rem);
  }
}
/* Fallback variables for browsers that don't support clamp */
@supports not (font-size: clamp(1rem, 1vw, 1rem)) {
  :root {
    --font-size-sm: 0.7rem;
    --font-size-base: 0.88rem;
    --font-size-md: 1.09rem;
    --font-size-lg: 1.37rem;
    --font-size-xl: 1.71rem;
    --font-size-xxl: 2.14rem;
    --font-size-xxxl: 2.67rem;
  }
  @media screen and (min-width: 1281px) {
    :root {
      --font-size-sm: 0.75rem;
      --font-size-base: 1rem;
      --font-size-md: 1.33rem;
      --font-size-lg: 1.78rem;
      --font-size-xl: 2.37rem;
      --font-size-xxl: 3.16rem;
      --font-size-xxxl: 4.21rem;
    }
  }
}

* {
  margin: 0;
}

img {
  display: block;
}

a {
  font-weight: 500;
  text-decoration: inherit;
  cursor: pointer;
}

body {
  margin: 0;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-secondary);
}

a,
span,
p,
button {
  font-family: var(--font-primary);
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.8rem 1.8rem;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  transition: border-color 0.25s;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0.3, "wght" 100, "GRAD" 50, "opsz" 34;
  color: var(--clr-black);
  font-size: 2rem;
}

@media (max-width: 900px) {
  button {
    font-size: 0.75rem;
    padding: 0.4rem 1.2rem;
  }
}

button:hover {
  /* border-color: #646cff; */
}
button:focus,
button:focus-visible {
  /* outline: 4px auto -webkit-focus-ring-color; */
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  button {
    background-color: #f9f9f9;
  }
}
